*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(43, 41, 41);
}

.container{
  background-color: white;
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 11vh;
  align-items: center;
}

.Burger, img{
  width: 200px;
  height: 150px;
  border-radius: 6px;
}

.Burger{
  border: 2px;
  border-color: grey;
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  padding-bottom: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
}

.Burger:hover{
  cursor: pointer;
}

.Burger:active{
  opacity: 0.8;
}

#name{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 5px;
}

#cena{
  text-align: left;
  padding-left: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.side_burger{
  display: grid;
  grid-template-rows: repeat(5,2fr);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nigga_burger{
  border: solid grey;
  border-width: 2px;
  border-radius: 10px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
}

.nigga_burger:hover{
  cursor: pointer;
}

.nigga_burger:active{
  opacity: 0.8;
}

.right_burger{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(6,1fr);
  gap: 2rem;
  margin-right: 3rem;
}

#cancel{
  background-color: white;
  color: red;
  border: solid;
  border-width: 2px;
  height: 40px;
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 40%;
  margin-top: 40px;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.15s,
    color 0.15s;
}

#cancel:hover{
  background-color: red;
  color: white;
}

#cancel:active{
  opacity: 0.6;
}

#add{
  background-color: green;
  color: rgb(255, 255, 255);
  border: solid;
  border-color: white;
  border-width: 2px;
  height: 40px;
  width: 150px;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.15s,
    color 0.15s;
}

#add:hover{
  background-color: white;
  color: green;
  border-color: green;
}

#add:active{
  opacity: 0.6;
}