.wrapper{
  display:flex;
  justify-content: center;
  margin: 13%;
  border: 0px solid black;
    
}


#pd_1{
  padding-left: 6%;
  font-weight: bold;
}

#pd_2{
  padding-left: 6%;
  font-weight: bold;
}

#pd_3{
  padding-left: 6%;
  font-weight: bold;
}

#img_1 , image{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#img_2 , image{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#img_3 , image{
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.Product_1{
  border: 2px solid black;
  margin-right: 2%;
  background-color: pink;
  padding-bottom: 7%;
  
}

.Product_2{
  border: 2px solid black;
  background-color: pink;
  padding-bottom: 7%;

}

.Product_3{
  border: 2px solid black;
  margin-left: 2%;
  background-color: pink;
  padding-bottom: 7%;
}

#button1{
  background-color: #b16cf1;
  color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 86.5%;
  left: 22%;
  cursor: pointer;
}

#button1:hover{
  opacity: 0.8;

}

#button1:active{
  opacity: 0.5;

}


#button2{
  background-color: #b16cf1;
  color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 86.5%;
  left: 47%;
  cursor: pointer;
}

#button2:hover{
  opacity: 0.8;

}

#button2:active{
  opacity: 0.5;

}

#button3{
  background-color: #b16cf1;
  color: black;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 12px 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 86.5%;
  left: 72%;
  cursor: pointer;
}

#button3:hover{
  opacity: 0.8;

}

#button3:active{
  opacity: 0.5;

}