@keyframes bulk{
  0%{
      width: 110px;
      height: 100px;
  }
  50%{
      height: 120px;
      width: 110px;
  }
  100%{
      width: 110px;
      height: 100px;
  }
}

@keyframes spin{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes spin-reverse{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.container{
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;          
  margin: 0;
  position: relative;
}

.sun{
  position: absolute;
  background-color: rgb(245, 245, 74);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  display: flex;
  box-shadow: 0px 0px 35px 20px rgb(206, 207, 112, 0.5);
  z-index: 20;
}

.in_sun1{
  position: absolute;
  background-color: rgb(238, 238, 114);
  width: 110px;
  height: 100px;
  border-radius: 50%;
  animation: spin-reverse 30s linear infinite, bulk 10s linear infinite;
  margin: 10px 0 0 0;
  box-shadow: 0 0 90px 0 rgb(238, 238, 114);
  z-index: 10;
}

.in_sun2{
  position: absolute;
  background-color: rgb(238, 238, 114);
  width: 110px;
  height: 100px;
  border-radius: 50%; 
  animation: spin 60s linear infinite, bulk 15s linear infinite;
  margin: 10px 0 0 0;
  box-shadow: 0 0 90px 0 rgb(238, 238, 114);
  z-index: 10;
}

.in_sun3{
  position: absolute;
  background-color: rgb(238, 238, 114);
  width: 110px;
  height: 100px;
  border-radius: 50%; 
  animation: spin 60s linear infinite, bulk 20s linear infinite;
  margin: 10px 0 0 0;
  box-shadow: 0 0 90px 0 rgb(238, 238, 114);
  z-index: 10;
}


.mercury {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgb(219, 206, 163);
  border-radius: 50%;
  animation: orbit-mercury 12s linear infinite;
  box-shadow: 0 0 13px 0 rgb(219, 206, 163);
  background: linear-gradient(90deg, rgb(116, 116, 110), rgb(80, 80, 76), rgb(24, 23, 23));
}

.venus {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(230, 180, 43);
  border-radius: 50%;
  animation: orbit-venus 20s linear infinite;
  box-shadow: 0 0 15px 0 rgb(230, 180, 43);
  background: linear-gradient(90deg, rgb(206, 192, 111), rgb(80, 74, 43), rgb(0, 0, 0));
}

.earth {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(83, 113, 247);
  border-radius: 50%;
  animation: orbit-earth 27s linear infinite;
  box-shadow: 0 0 30px 0 rgb(83, 113, 247);
  background: linear-gradient(90deg, rgb(100, 167, 230), rgb(35, 63, 90), rgb(0, 0, 0));
}


@keyframes orbit-mercury {
  0% {
    transform: rotate(0deg) translateX(220px) ;
  }
  100% {
    transform: rotate(360deg) translateX(220px) ;
  }
}

@keyframes orbit-venus {
  0% {
    transform: rotate(0deg) translateX(370px) ;
  }
  100% {
    transform: rotate(360deg) translateX(370px) ;
  }
}

@keyframes orbit-earth {
  0% {
    transform: rotate(0deg) translateX(300px) ;
  }
  100% {
    transform: rotate(360deg) translateX(300px) ;
  }
}

.star-1, .star-2, .star-3{
  position: absolute;
  background-color: white;
  width: 2px;
  height: 2px;
}
.star-1{
  top: 300px;
  left: 330px;
}
.star-2{
  top: 750px;
  left: 600px;
}
.star-3{
  top: 300px;
  right: 400px;
}
